In [1]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import pandas as pd
import os
from sklearn.ensemble import RandomForestClassifier

In [4]:
df = pd.read_csv('../data/gender_data.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,label,emotions
0,-700.398926,58.630211,-3.025852,16.040241,4.248529,3.869935,-6.381716,-0.188635,-13.735003,-0.319724,...,0.043364,-0.118930,0.086475,0.020726,-0.009119,0.028229,0.139806,-0.038748,0,calm
1,-653.169006,58.028076,-12.581207,11.818786,-7.681562,-0.617142,-8.337758,-5.823570,-6.547592,1.458057,...,-0.441313,-0.270397,-0.072456,-0.126832,0.204340,0.047925,-0.173506,0.012698,1,calm
2,-617.052307,60.103371,-5.984258,13.886285,1.120427,0.511750,-14.841358,-4.016369,-5.575839,-6.309851,...,0.018517,0.039327,0.347483,0.340563,0.208704,-0.167646,0.078711,-0.066652,0,calm
3,-698.721130,47.088486,-11.333612,12.963088,-8.005651,-1.252229,-10.009068,-9.434125,-10.318875,-0.864674,...,-0.238024,-0.276562,-0.140813,0.068313,-0.155587,-0.085290,-0.532761,-0.309992,1,calm
4,-715.922607,71.976799,4.457525,18.602499,8.404046,3.621954,-1.974365,0.022673,-2.678083,4.232803,...,-0.215464,0.402756,0.292296,-0.007742,0.232237,-0.152113,-0.026279,0.499299,0,calm

In [5]:
df.drop(inplace=True, columns=["emotions"])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,label
0,-700.398926,58.630211,-3.025852,16.040241,4.248529,3.869935,-6.381716,-0.188635,-13.735003,-0.319724,...,-0.009966,0.043364,-0.118930,0.086475,0.020726,-0.009119,0.028229,0.139806,-0.038748,0
1,-653.169006,58.028076,-12.581207,11.818786,-7.681562,-0.617142,-8.337758,-5.823570,-6.547592,1.458057,...,0.047958,-0.441313,-0.270397,-0.072456,-0.126832,0.204340,0.047925,-0.173506,0.012698,1
2,-617.052307,60.103371,-5.984258,13.886285,1.120427,0.511750,-14.841358,-4.016369,-5.575839,-6.309851,...,0.189555,0.018517,0.039327,0.347483,0.340563,0.208704,-0.167646,0.078711,-0.066652,0
3,-698.721130,47.088486,-11.333612,12.963088,-8.005651,-1.252229,-10.009068,-9.434125,-10.318875,-0.864674,...,0.171895,-0.238024,-0.276562,-0.140813,0.068313,-0.155587,-0.085290,-0.532761,-0.309992,1
4,-715.922607,71.976799,4.457525,18.602499,8.404046,3.621954,-1.974365,0.022673,-2.678083,4.232803,...,-0.165444,-0.215464,0.402756,0.292296,-0.007742,0.232237,-0.152113,-0.026279,0.499299,0

In [6]:
target = df["label"]

In [7]:
data = df.drop("label", axis=1)
feature_names = data.columns
data.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,-700.398926,58.630211,-3.025852,16.040241,4.248529,3.869935,-6.381716,-0.188635,-13.735003,-0.319724,...,-0.048826,-0.009966,0.043364,-0.118930,0.086475,0.020726,-0.009119,0.028229,0.139806,-0.038748
1,-653.169006,58.028076,-12.581207,11.818786,-7.681562,-0.617142,-8.337758,-5.823570,-6.547592,1.458057,...,-0.151122,0.047958,-0.441313,-0.270397,-0.072456,-0.126832,0.204340,0.047925,-0.173506,0.012698
2,-617.052307,60.103371,-5.984258,13.886285,1.120427,0.511750,-14.841358,-4.016369,-5.575839,-6.309851,...,0.002693,0.189555,0.018517,0.039327,0.347483,0.340563,0.208704,-0.167646,0.078711,-0.066652
3,-698.721130,47.088486,-11.333612,12.963088,-8.005651,-1.252229,-10.009068,-9.434125,-10.318875,-0.864674,...,-0.421341,0.171895,-0.238024,-0.276562,-0.140813,0.068313,-0.155587,-0.085290,-0.532761,-0.309992
4,-715.922607,71.976799,4.457525,18.602499,8.404046,3.621954,-1.974365,0.022673,-2.678083,4.232803,...,0.384698,-0.165444,-0.215464,0.402756,0.292296,-0.007742,0.232237,-0.152113,-0.026279,0.499299

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [9]:
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

0.9773584905660377

In [11]:
from sklearn.metrics import classification_report
predictions = rf.predict(X_test_scaled)
print(classification_report(y_test, predictions,))

              precision    recall  f1-score   support

           0       1.00      0.89      0.94       212
           1       0.97      1.00      0.99       848

    accuracy                           0.98      1060
   macro avg       0.99      0.94      0.96      1060
weighted avg       0.98      0.98      0.98      1060

In [12]:
import joblib
filename = 'gender_rf_model.sav'
joblib.dump(rf, filename)

['gender_rf_model.sav']

In [13]:

filename1 = 'gender_rf_scaler.sav'
joblib.dump(X_scaler, filename1)

['gender_rf_scaler.sav']