In [1]:
#Import Dependencies
from pylab import *
import os
import pandas as pd
# import librosa
# import librosa.display
# import glob
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Model

In [2]:
df = pd.read_csv('../data/gender_data.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,label,emotions
0,-700.398926,58.630211,-3.025852,16.040241,4.248529,3.869935,-6.381716,-0.188635,-13.735003,-0.319724,...,-2.042009,-2.522663,-2.507448,-2.250499,-0.381507,-2.481059,-2.791023,-2.244865,0,calm
1,-653.169006,58.028076,-12.581207,11.818786,-7.681562,-0.617142,-8.337758,-5.823570,-6.547592,1.458057,...,2.558634,3.708506,2.790020,2.201920,-1.021456,0.819201,-0.277811,0.207586,1,calm
2,-617.052307,60.103371,-5.984258,13.886285,1.120427,0.511750,-14.841358,-4.016369,-5.575839,-6.309851,...,-1.024786,0.331096,0.531833,-1.621019,-2.158077,-2.502774,-0.676133,2.089097,0,calm
3,-698.721130,47.088486,-11.333612,12.963088,-8.005651,-1.252229,-10.009068,-9.434125,-10.318875,-0.864674,...,-1.408215,0.958172,2.574661,1.877764,1.608618,0.222401,4.338524,4.266795,1,calm
4,-715.922607,71.976799,4.457525,18.602499,8.404046,3.621954,-1.974365,0.022673,-2.678083,4.232803,...,0.972097,0.210004,0.667769,1.918956,0.174543,-1.768463,-1.512280,-0.253279,0,calm

In [3]:
df.drop(inplace=True, columns=["emotions"])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,label
0,-700.398926,58.630211,-3.025852,16.040241,4.248529,3.869935,-6.381716,-0.188635,-13.735003,-0.319724,...,-2.769772,-2.042009,-2.522663,-2.507448,-2.250499,-0.381507,-2.481059,-2.791023,-2.244865,0
1,-653.169006,58.028076,-12.581207,11.818786,-7.681562,-0.617142,-8.337758,-5.823570,-6.547592,1.458057,...,2.570493,2.558634,3.708506,2.790020,2.201920,-1.021456,0.819201,-0.277811,0.207586,1
2,-617.052307,60.103371,-5.984258,13.886285,1.120427,0.511750,-14.841358,-4.016369,-5.575839,-6.309851,...,-2.019846,-1.024786,0.331096,0.531833,-1.621019,-2.158077,-2.502774,-0.676133,2.089097,0
3,-698.721130,47.088486,-11.333612,12.963088,-8.005651,-1.252229,-10.009068,-9.434125,-10.318875,-0.864674,...,-0.004270,-1.408215,0.958172,2.574661,1.877764,1.608618,0.222401,4.338524,4.266795,1
4,-715.922607,71.976799,4.457525,18.602499,8.404046,3.621954,-1.974365,0.022673,-2.678083,4.232803,...,0.424780,0.972097,0.210004,0.667769,1.918956,0.174543,-1.768463,-1.512280,-0.253279,0

In [4]:
target = df["label"]
target = df["label"].values.reshape(-1, 1)

In [5]:
data = df.drop("label", axis=1)
feature_names = data.columns
data.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,-700.398926,58.630211,-3.025852,16.040241,4.248529,3.869935,-6.381716,-0.188635,-13.735003,-0.319724,...,-1.411359,-2.769772,-2.042009,-2.522663,-2.507448,-2.250499,-0.381507,-2.481059,-2.791023,-2.244865
1,-653.169006,58.028076,-12.581207,11.818786,-7.681562,-0.617142,-8.337758,-5.823570,-6.547592,1.458057,...,0.788761,2.570493,2.558634,3.708506,2.790020,2.201920,-1.021456,0.819201,-0.277811,0.207586
2,-617.052307,60.103371,-5.984258,13.886285,1.120427,0.511750,-14.841358,-4.016369,-5.575839,-6.309851,...,-1.133367,-2.019846,-1.024786,0.331096,0.531833,-1.621019,-2.158077,-2.502774,-0.676133,2.089097
3,-698.721130,47.088486,-11.333612,12.963088,-8.005651,-1.252229,-10.009068,-9.434125,-10.318875,-0.864674,...,-0.299306,-0.004270,-1.408215,0.958172,2.574661,1.877764,1.608618,0.222401,4.338524,4.266795
4,-715.922607,71.976799,4.457525,18.602499,8.404046,3.621954,-1.974365,0.022673,-2.678083,4.232803,...,0.505697,0.424780,0.972097,0.210004,0.667769,1.918956,0.174543,-1.768463,-1.512280,-0.253279

In [6]:
print(data.shape, target.shape)

(4240, 40) (4240, 1)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [8]:
y_test

array([[0],
       [0],
       [1],
       ...,
       [1],
       [1],
       [1]], dtype=int64)

In [9]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

### BEGIN SOLUTION
X_scaler = StandardScaler().fit(X_train)
#y_scaler = StandardScaler().fit(y_train)
### END SOLUTION

In [10]:
# Transform the training and testing data using the X_scaler and y_scaler models

### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)
### END SOLUTION

In [13]:
# # One-hot encoding
# y_train_categorical = to_categorical(y_train)
# y_test_categorical = to_categorical(y_test)
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

# Fitting our model with all of our features in data
model.fit(X_train_scaled, y_train)

# score = model.score(data, target)
# print(f"R2 Score: {score}")

C:\Users\13479\Anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [14]:
### BEGIN SOLUTION
predictions = model.predict(X_test_scaled)
#model.predict(X_test_scaled)
#print(X_test_scaled[0])
print(predictions[0])
print(y_test[0])
#model.fit(X_train_scaled, y_train_scaled)

1
[0]

In [17]:
#predictions = model.predict(X_test_scaled)
model.score(X_test_scaled, y_test)
#pd.DataFrame({"Prediction": predictions, "Actual": y_test})

0.9886792452830189

In [19]:
# Used X_test_scaled, y_test_scaled, and model.predict(X_test_scaled) to calculate MSE and R2

### BEGIN SOLUTION
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test, predictions)
r2 = model.score(X_test_scaled, y_test)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.011320754716981131, R2: 0.9886792452830189

In [21]:
female_predict = sum(predictions)
female_actual = sum(y_test)
print(female_actual)

848